/* Table Styling */
.assignments-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.assignments-table th, .assignments-table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

.assignments-table th {
  background-color: #65558F;
  color: white;
}

.assignments-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.assignments-table tr:nth-child(odd) {
  background-color: #fff;
}

/* Style for select dropdown in Change Mentor column */
.assignments-table select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #91BECD;
  cursor: pointer;
}

/* Delete Button Styling */
.delete-button {
  padding: 8px 16px;
  color: #fff;
  background-color: #FF6347;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #FF4500;
}
.assignments-table .header-container {
  position: relative;
  width: 100%;
  padding-top: 20px; /* Add padding to move content down */
}

/* Move the logo button down */
.assignments-table  .logo-button {
  position: absolute;
  top: 0px; /* Increase this value to move the logo down further */
  left: 0px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0; /* Remove extra padding */
}