.create-account {
  padding: 20px;
  text-align: center;
}
.account-form {
  padding: 20px;
  text-align: center;
  background-color: transparent; /* Set to transparent */
  margin-bottom: 15px;
}

.create-account input, .create-account select {
  background-color: white; /* Transparent input fields */
  width: 300px;
  border: 1px solid #ccc; /* Optional: Add a border for visibility */
  padding: 10px;
}

.create-account h2 {
  margin-bottom: 30px; /* Add space below the main heading */
  font-size: 40px;
  background-color: inherit; /* Add*/
}
/* .create-account h1 {
  font-size: large;
  background-color: inherit;
  padding: 10px;
} */
.mentor-meetings h1 {
  font-size: large;
  background-color: inherit;
  padding: 10px;
}

.create-account .input, .select {
  margin-right: 10px;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
  background-color: transparent;

}

.create-account button {
  background-color: #65558F;
  border-radius: 50px;
}

.create-account .button:hover {
  background-color: #0056b3;
}

.create-account .ul {
  list-style-type: none;
  padding: 0;
}

.create-account .li {
  margin: 10px 0;
  font-size: 1.1em;
}
.create-account .rectangle {
  width: 500px;             /* Adjust the size as needed */
  height: 650px;           /* Adjust the height */
  border: 2px solid #91BECD; /* Light blue border */
  background-color: rgba(0, 0, 0, 0.1); /* Transparent white */
  margin: 20px auto;      /* Center the rectangle horizontally */
  display: flex;
  align-items: center;     /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-radius: 15px;     /* Optional: Rounded corners */
  backdrop-filter: blur(5px); /* Optional: Blur the background */
  transition: transform 0.3s; /* Optional: Add a transition effect */
}

.create-account .logo {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
  position: absolute;
  top: 20px;
  left: 20px;        /* Optional: Add some margin for spacing */
  /* background-color: #ADD8E6; */ /* Optional background */
}
.create-account .space {
  background-color: inherit; /* Optional*/
}

