/* Reset body margins and paddings */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Home button image styling */
.home-button-image {
  width: 60px;
  height: 60px;
  object-fit: contain; /* Ensures the entire image fits without distortion */
  border-radius: 50%; /* Optional: Keep circular shape */
  display: block;
}

/* Calendar container styling */
.calendar-container {
  margin: 20px auto;
  max-width: 1200px;
  color:#ffffff;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: rgb(48, 48, 74);
}

/* Dialog Styles */
.MuiDialog-paper {
  border-radius: 10px !important;
  padding: 20px;
}

.MuiDialogTitle-root {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3f51b5;
}

.MuiDialogContent-root {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

.MuiDialogActions-root {
  padding: 10px 20px;
}

.MuiButton-root {
  background-color: #3f51b5;
  color: white;
  text-transform: none;
}

.MuiButton-root:hover {
  background-color: #303f9f;
}
