.interact-with-mentee {
  text-align: center;
  padding: 20px;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns content to the left */
  position: relative; /* Keep this relative to position other content */
  z-index: 10;
}

.logo {
  width: 150px;
  height: auto;
}

.logo-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

/* Move logout button to the top-right of the viewport */
.interact-with-mentee .logout-button {
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: #91BECD;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  padding: 10px 20px;
  position: fixed; /* Keep the button fixed in place */
  top: 40px; /* Stick to the top of the screen */
  right: 20px; /* Stick to the right edge of the screen */
  z-index: 20; /* Ensure it stays above other elements */
  transition: background-color 0.3s; /* Smooth transition for hover */
}

.logout-button:hover {
  background-color: #7CAFB7;
}

.rectangle {
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  background-color: #91BECD;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;
}

.message-list {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.message-input textarea {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  height: 60px;
  font-size: 1rem;
  box-sizing: border-box;
  resize: none;
  margin-bottom: 10px;
}

.message-input button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
  width: auto;
}

.message-input button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  font-size: 1.1em;
}

.mentor {
  text-align: left;
  color: blue;
}

.mentee {
  text-align: right;
  color: green;
}

.timestamp {
  font-size: 0.8em;
  color: gray;
}
