.interact-with-mentee {
    padding: 20px;
    text-align: center;
  }
  .interact-with-mentee-body{
    background-color: #add8e6;
  }
  
  .interact-with-mentee-message-list {
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
  }

  .interact-with-mentor-logo {
    width: 15% !important; /* Adjust size as needed */
    height: auto;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 1000;
    margin: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    font-size: 1.1em;
  }
  
  .interact-with-mentee-mentor {
    text-align: left;
    color: blue;
  }
  
  .interact-with-mentee-mentee {
    text-align: right;
    color: green;
  }
  
  .interact-with-mentee-timestamp {
    font-size: 0.8em;
    color: gray;
  }
  
  .interact-with-mentee-textarea {
    width: 80%;
    height: 80px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
  }
  
  .interact-with-mentee-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .interact-with-mentee-button:hover {
    background-color: #0056b3;
  }
  