* {
  margin: 0;
  box-sizing: border-box;
}
.admin-home .title {
  margin-top: 15px;
  font-size: large;
  background-color: inherit !important;
  padding: 5px 10px;
  color: #000000;
}


.admin-home .logo {
  width: 150px;
  height: auto;
}
.admin-home .header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}
/* Container for the whole page */
.admin-home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-family: Arial, sans-serif;
  text-align: center;
  justify-content: space-between;
}
.admin-home .welcome-message {
  font-size: 32px;
  text-align: center;
  margin: 20px 0;
}
.admin-home .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

/* Main content styles */
.admin-home .main-content {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Button container */
.admin-home .button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.admin-home .circle {
  width: 355px;
  height: 355px;
  border-radius: 50%;
  background-color: #91BECD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-bottom: 10%;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s;
}

.admin-home .circle:hover {
  background-color: #7CAFB7;
}

.admin-home .title {
  margin-top: 15px;
  font-size: large;
  background-color: inherit !important;
  padding: 5px 10px;
  color: #000000;
}

/* Uniform image styling for all circle images */
.admin-home .circle-image {
  width: 190px;
  height: auto;
  object-fit: cover; /* Ensures the image fills the area without distortion */
  background-color: inherit;
  margin-bottom: 5px;
}
.admin-home .logout-button {
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: #91BECD;
  font-size: large;
  font-weight: bold;
  color: black;
  padding: 10px 20px;
}

.admin-home .logout-button:hover {
  background-color: #7CAFB7;
}

